/* variables */

:root {
  --color-primary: rgba(255, 121, 121, 1);
  --color-secondary: rgba(56, 204, 139, 1);
  --color-accent: rgba(94, 84, 164, 1);
  --color-accent-light: rgba(185, 182, 211, 1);

  --color-dark: rgba(61, 59, 72, 1);
  --color-light: rgba(222, 222, 222, 1);
  --color-white: rgba(255, 255, 255, 1);
}

/* global */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  line-height: 1.625rem;
}

/* typography */

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.018rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

a,
button {
  transition: all 0.3s;
}

.info-copy {
  font-weight: 500;
}

/* layout  */

.container {
  min-height: 100vh;
  max-width: 69.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
}

.container--info {
  max-width: 525px;
}

.container--form {
  max-width: 540px;
}

/* main */

main {
  background-color: var(--color-primary);
  background-image: url("../images/bg-intro-mobile.png");
  padding: 1.5rem;
  text-align: center;
}

.banner {
  border-radius: 10px;
  padding: 18px 66px;
  background-color: var(--color-accent);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1469);
  margin-bottom: 1.5rem;
}

.banner-copy {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.27px;
}

.banner-copy span {
  font-size: 14px;
  font-weight: 400;
}

/* form */

form {
  border-radius: 10px;
  background-color: var(--color-white);
  padding: 24px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1469);
}

form > * {
  display: block;
  width: 100%;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

form input {
  padding: 15px 20px;
  margin-bottom: 1rem;
  border: 1px solid var(--color-light);
}

input::placeholder {
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

/* button */

button {
  background-color: var(--color-secondary);
  border: none;
  padding: 15px 40px;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.0989);
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
}

button:hover {
  background-color: rgba(119, 226, 179, 1);
  cursor: pointer;
}

small {
  display: block;
  color: var(--color-light);
  font-size: 11px;
  line-height: 21px;
  font-weight: 500;
  padding: 1rem;
}

small a {
  color: var(--color-primary);
  font-weight: 700;
}

small a:hover {
  color: rgba(255, 121, 121, 0.7);
}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media query - desktop (1440px) */

@media screen and (min-width: 90em) {
  .container {
    flex-direction: row;
    gap: 2.813rem;
  }

  .container--info {
    text-align: left;
  }

  h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.52px;
    margin-bottom: 11px;
  }

  .info-copy {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  .banner {
    padding: 17px 111px;
  }

  form {
    padding: 40px;
  }

  form input {
    margin-bottom: 20px;
  }

  small {
    line-height: 26px;
  }
}
